 {% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Meus Estudos - Login {% endblock %}


{% block logo %}
{% endblock %}

{% block main %}
<h1>Login</h1>
<div class="row">
<div class="col-md-8 mx-auto">

    {% if request.user.is_authenticated %}
   <div class="alert alert-danger" role="alert">
  <h1><i>AÇÃO NÃO PERMITIDA!</i></h1>
</div>
    <p class="lead">
        <strong>
            Você não tem permissão para manipular essa seção, procure o Administrador do sistema!
        </strong>
    </p>
    {% else %}
<form action="" method="POST">
    {% csrf_token %}

    <div class="form-group" align="left">

        {{ form|crispy }}

        <button type="submit" class="bg-ifpr text-white p-1 btn-lg active mt-4">Entrar</button>
    </div>
    </div>
</form>
    {% endif %}
    </div>
{% endblock %}