{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} class="text-center"

{% block title %} Meus Estudos - Listas {% endblock %}

{% block logo %}
{% endblock %}

{% block conteudo %}
<h1><i>Lista de Contatos Cadastrados</i>
    <a href="{% url 'contatoNew' %}" class="bg-ifpr text-white p-1 btn-lg active mt-2 float-right">Novo Registro</a>
</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th class="text-center">Nome</th>
            <th class="text-center">Telefone 1</th>
            <th class="text-center">Telefone 2</th>
            <th class="text-center">e-mail</th>
            <th class="text-center">Alterar / Excluir</th>
        {% for contato in object_list %}
        <tr>
            <td class="text-center">{{ contato.idPessoaContato }}</td>
            <td class="text-center">{{ contato.tel1 }}</td>
            <td class="text-center">{{ contato.tel2 }}</td>
            <td class="text-center">{{ contato.email }}</td>
            <td class="text-center">
                <a href="{% url 'contatoUp' contato.pk %}" class="btn btn-warning btn-sm" title="Editar"><i class="fa fa-exchange"></i></a>
                <a href="{% url 'contatoDel' contato.pk %}" class="btn btn-danger btn-sm" title="Excluir"><i class="fa fa-trash"></i></a>
        </tr>
         {% empty %}
          <tr>
            <td colspan="3">Nenhum registro encontrado</td>
        </tr>
         {% endfor %}
        </tr>
    </table>

<!--= ESTRUTURA DE PAGINAÇÃO ===========================================================================================        -->
        <div class="pagination">
<span class="step-links">
{% if page_obj.has_previous %}
<a href="?page=1">&laquo; primeira -</a>
<a href="?page={{ page_obj.previous_page_number }}">anterior -</a>
{% endif %}
<span class="current">
Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
</span>
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">- próxima</a>
<a href="?page={{ page_obj.paginator.num_pages }}">- última &raquo;</a>
{% endif %}
</span>
<!--= FIM DA ESTRUTURA DE PAGINAÇÃO ====================================================================================        -->
        </div>


</div>
{% endblock %}