{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Projeto Dois de Ouro {% endblock %}


{% block conteudo %}

<div class="jumbotron" align="center"><h1><i>{{titulo}}</i></h1></div>
<div class="card">
  <h5 class="card-header">{{subtitulo1}}</h5>
  <div class="card-body">
    <p class="card-text">Nesta seção vc vai ter acesso ao gerenciamento das armas da RMB.</p>
    <a href="{% url 'armaNew' %}" class="btn btn-primary">Novo Cadastro de Arma</a>
    <a href="{% url 'armaList' %}" class="btn btn-primary">Lista das Armas existentes na RMB</a>
  </div>
</div>
<hr>
<div class="card">
  <h5 class="card-header">{{subtitulo2}}</h5>
  <div class="card-body">
    <p class="card-text">Nesta seção vc vai ter acesso ao gerenciamento dos apetrechos.</p>
    <a href="{% url 'registroRMBNew' %}" class="btn btn-primary">Novo Cadastro de aapetrecho</a>
    <a href="{% url 'registroRMBList' %}" class="btn btn-primary">Lista de apetrechos existentes na RMB</a>
  </div>
</div>

{% endblock %}