{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Projeto Dois de Ouro {% endblock %}


{% block conteudo %}
<div class="jumbotron" align="center"><h1><i>{{titulo}}</i></h1></div>
<div class="card">
  <h5 class="card-header">{{subtitulo1}}</h5>
  <div class="card-body">
    <p class="card-text">Nesta seção vc vai ter acesso ao gerenciamento das saídas de material no Almozarifado.</p>
    <a href="{% url 'armaNew' %}" class="btn btn-primary">Nova entrada de material</a>
    <a href="{% url 'armaList' %}" class="btn btn-primary">Lista de entradas de material</a>
  </div>
</div>
<hr>
<div class="card">
  <h5 class="card-header">{{subtitulo2}}</h5>
  <div class="card-body">
    <p class="card-text">Nesta seção vc vai ter acesso ao gerenciamento das saídas de material no Almozarifado.</p>
    <a href="{% url 'armaNew' %}" class="btn btn-primary">Nova Saída de material</a>
    <a href="{% url 'armaList' %}" class="btn btn-primary">Lista de Saídas de material</a>
  </div>
</div>
<hr>
<div class="card">
  <h5 class="card-header">{{subtitulo3}}</h5>
  <div class="card-body">
    <p class="card-text">Nesta seção vc vai ter acesso ao gerenciamento dos registros de armamento lançado no serviço operacional.</p>
    <a href="{% url 'registroRMBNew' %}" class="btn btn-primary">Novo registro</a>
    <a href="{% url 'registroRMBList' %}" class="btn btn-primary">Lista de registros</a>
  </div>
</div>

{% endblock %}

{% block rodape-links %}
{% endblock %}
